{% extends "polls/base.html" %}
{% block content%}
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<div class="container">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<div class="container">
          <div class="row">
            <div class="row">
              <div class="card">
                <div class="faq-block card-body">
                  <div id="accordion-1" class="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne1">
                        <h5 class="mb-0">
                          <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Cómo Pagar
                          </a>
                        </h5>
                      </div>
                      <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">
                        <div class="card-body">
                          <p class="mb-0">Los medios de pago son por transferencia bancaria, o con tarjeta de crédito o débito en <a href="pagos.masdelivery.com">Pagos.masdelivery.com</a></p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="faq-block card-body">
                  <div class="accordion">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0">
                          <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Débito Automático
                          </a>
                        </h5>
                      </div>
                      <div class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">
                        <div class="card-body">
                          <p class="mb-0">También te podés adherir al débito automático enviando el CBU a administración.</p>
                          <p>Se debita el día 19 de cada mes con un 10% de descuento.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                        <div class="row">
              <div class="card">
                <div class="faq-block card-body">
                  <div class="accordion">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0">
                          <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Descuento
                          </a>
                        </h5>
                      </div>
                      <div class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">
                        <div class="card-body">
                          <p class="mb-0">Abonando antes del 18 de cada mes accedes a un 10% de descuento del total de la factura, que ya debe ser descontado directamente del pago.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


{% endblock %}




<!--<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">-->
<!--<div class="container">-->
<!--<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">-->
<!--<div class="container">-->
<!--          <div class="row">-->
<!--            <div class="row">-->
<!--                  <div class="card">-->
<!--                    <div class="faq-block card-body">-->
<!--                      <div id="accordion-1" class="accordion">-->
<!--                        <div class="card">-->
<!--                          <div class="card-header" id="headingOne1">-->
<!--                            <h5 class="mb-0">-->
<!--                              <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--                                Cómo Pagar-->
<!--                              </a>-->
<!--                            </h5>-->
<!--                          </div>-->
<!--                          <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">-->
<!--                            <div class="card-body">-->
<!--                              <p class="mb-0">Los medios de pago son por transferencia bancaria, o con tarjeta de crédito o débito en <a href="pagos.masdelivery.com">Pagos.masdelivery.com</a></p></p><p>-->
<!--                            </p></div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                          <div class="card mt-2">-->
<!--                          <div class="card-header" id="headingOne11">-->
<!--                            <h5 class="mb-0">-->
<!--                              <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--                                Débito Automático-->
<!--                              </a>-->
<!--                            </h5>-->
<!--                          </div>-->
<!--                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">-->
<!--                            <div class="card-body">-->
<!--                                <p class="mb-0">También te podés adherir al débito automático enviando el CBU a administración.</p>-->
<!--                                <p>Se debita el día 19 de cada mes con un 10% de descuento.</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                </div>-->
<!--                <div class="col-12 grid-margin grid-margin-md-0">-->
<!--                  <div class="card">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div> &lt;!&ndash; sub col &ndash;&gt;-->
<!--              <div class="row mt-3">-->
<!--                  <div class="card">-->
<!--                    <div class="faq-block card-body">-->
<!--                      <div id="accordion-3" class="accordion">-->
<!--                        <div class="card">-->
<!--                          <div class="card-header" id="headingOne-3">-->
<!--                            <h5 class="mb-0">-->
<!--                              <a data-toggle="collapse" data-target="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">-->
<!--                                Descuento-->
<!--                              </a>-->
<!--                            </h5>-->
<!--                          </div>-->
<!--                          <div id="collapseOne-3" class="collapse show" aria-labelledby="headingOne-3" data-parent="#accordion-3">-->
<!--                            <div class="card-body">-->
<!--                              <p class="mb-0">Abonando antes del 18 de cada mes accedes a un 10% de descuento del total de la factura, que ya debe ser descontado directamente del pago.</p>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="card">-->
<!--                        </div>-->
<!--                        <div class="card">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-12">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->