{% extends "polls/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Registrarse</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="botones btn-outline-info btn btn-light" type="submit" style="margin-top:2%; margin-bottom:2%">Registrarse</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Si ya tenés una cuenta asociada al cuit: <a href="{% url 'login' %}" class="ml-2">Iniciar Sesión</a></small>
        </div>
    </div>
{% endblock %}